@import '../../styles/_variables.css';

.range-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.slider {
  appearance: none;
  width: 100%;
  height: 5px;
  background: var(--primary-color);
  border-radius: 5px;
  outline: none;
  margin-bottom: var(--small-spacing-unit);
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb,
.slider::-ms-thumb {
  appearance: none;
  width: var(--large-spacing-unit);
  height: var(--large-spacing-unit);
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 50%;
}

.range-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: var(--font-size-large);
  color: #333;
}
